In [4]:
import xarray as xr
import pandas as pd
import numpy as np

In [29]:
root='/home/ref-coriolis-public/copernicus/INSITU_GLO_TS_OA_REP_OBSERVATIONS_013_002_b/CORIOLIS-GLOBAL-CORA05.2-OBS_FULL_TIME_SERIE'

def cora_preproc(ds):        
    # CREATE A SOURCE FILE DataArray AS A NEW VARIABLE OF OUR DATASET
    SOURCE=np.empty(len(ds.N_PROF),dtype='S32')
    SOURCE[:]=ds.encoding['source'].split('/')[-1]  # DON'T KNOW IF IT'S THE BEST WAY TO RETRIEVE FILENAME ...
    ds['SOURCE']=xr.DataArray(SOURCE,dims='N_PROF') # CREATE DataArray
    
    # TEMPERATURE LEVELS, THIS IS JUST SIMPLE EXAMPLES
    # A LOT OF PROFILES WILL HAVE NaN FOR 1000m & 2000m VALUES    
    ds['TEMP0']=ds['TEMP'].isel(N_LEVELS=0) #TEMPERATURE SURFACE
    ds['TEMP1000']=ds['TEMP'].isel(N_LEVELS=101) #TEMPERATURE 1000m
    ds['TEMP2000']=ds['TEMP'].isel(N_LEVELS=151) #TEMPERATURE 2000m
    
    # NO NEED VARIABLES WILL BE DROPPED FROM THE DATASET
    ds=ds.drop(['REFERENCE_DATE_TIME','DATA_TYPE',
                'DC_REFERENCE','DEPH','TEMP','TEMP_PROC',
                'TEMP_QC','TEMP_CLMN','TEMP_CLSD',
                'TEMP_ERME','TEMP_ERUR','TEMP_RESI'])
    
    # REMOVE ANY USELESS DIMENSIONS
    ds=ds.squeeze()
    return ds

# XARRAY MULTIFILE LOAD
# HERE WE OPEN EACH CORA TEMP FILE, WE DON'T DECODE TIME, 
# WE CONCATENATE DATA ALONG THE N_PROF VARIABLES AND WE
# APPLY CORA_PREPROC FUNCTION TO EACH FILE

CORA=xr.open_mfdataset(root+'/data/????/*TEMP.nc',decode_times=False,concat_dim='N_PROF',preprocess=cora_preproc)
CORA

<xarray.Dataset>
Dimensions:          (N_PROF: 9058551)
Dimensions without coordinates: N_PROF
Data variables:
    PLATFORM_NUMBER  (N_PROF) |S8 dask.array<shape=(9058551,), chunksize=(13927,)>
    WMO_INST_TYPE    (N_PROF) |S4 dask.array<shape=(9058551,), chunksize=(13927,)>
    JULD             (N_PROF) float64 dask.array<shape=(9058551,), chunksize=(13927,)>
    LATITUDE         (N_PROF) float64 dask.array<shape=(9058551,), chunksize=(13927,)>
    LONGITUDE        (N_PROF) float64 dask.array<shape=(9058551,), chunksize=(13927,)>
    SOURCE           (N_PROF) |S32 b'OA_CORA5.1_19900115_dat_TEMP.nc' ... b'OA_CORA5.2_20180615_dat_TEMP.nc'
    TEMP0            (N_PROF) float32 dask.array<shape=(9058551,), chunksize=(13927,)>
    TEMP1000         (N_PROF) float32 dask.array<shape=(9058551,), chunksize=(13927,)>
    TEMP2000         (N_PROF) float32 dask.array<shape=(9058551,), chunksize=(13927,)>
Attributes:
    Conventions:       CF-1.4
    title:             Monthly analysis
    institution:       LPO/IFREMER
    project_name:      ISASLPO
    data_manager:      Fabienne-Gaillard
    software_version:  POSTOA_main - 7.0
    references:        Gaillard et al., JCLIM 2016, Doi:10.1175/JCLI-D-15-002...
    history:           20181220T105503L : Creation

In [50]:
# CONVERT TO PANDAS DATAFRAME (EASY BECAUSE 1 DIMENSION)
CORD=CORA.to_dataframe()

# JULD TO CALENDAR DATE
CORD['DATE']=pd.to_datetime(CORD['JULD'].values,unit='D',origin=pd.to_datetime('1950/1/1'))
CORD=CORD.drop(columns='JULD')

#BYTE STRING TO STRING
str_df = CORD.select_dtypes([np.object])
str_df = str_df.stack().str.decode('utf-8').unstack()
for col in str_df:
    CORD[col] = str_df[col]
    
#HERE IS OUR PANDAS INDEX    
CORD

,PLATFORM_NUMBER,WMO_INST_TYPE,LATITUDE,LONGITUDE,SOURCE,TEMP0,TEMP1000,TEMP2000,DATE
N_PROF,,,,,,,,,
0,OCL0056,999,38.167999,-9.765500,OA_CORA5.1_19900115_dat_TEMP.nc,17.810001,NaN,NaN,1989-12-05 10:20:09.374956800
1,OCL0056,999,38.179001,-10.152500,OA_CORA5.1_19900115_dat_TEMP.nc,17.480000,NaN,NaN,1989-12-05 14:31:52.500000000
2,OCL0056,999,38.178001,-10.465000,OA_CORA5.1_19900115_dat_TEMP.nc,17.590000,NaN,NaN,1989-12-05 17:44:59.999971200
3,OCL0056,999,38.736164,-9.630667,OA_CORA5.1_19900115_dat_TEMP.nc,17.133333,NaN,NaN,1989-12-11 15:40:46.874956800
4,OCL0056,999,38.735001,-10.017250,OA_CORA5.1_19900115_dat_TEMP.nc,17.500000,NaN,NaN,1989-12-11 20:57:11.250000000
5,OCL0056,999,38.735001,-10.423333,OA_CORA5.1_19900115_dat_TEMP.nc,17.273335,NaN,NaN,1989-12-12 02:15:00.000000000
6,OCL0056,999,38.737499,-10.887501,OA_CORA5.1_19900115_dat_TEMP.nc,16.740002,NaN,NaN,1989-12-12 07:32:48.750000000
7,OCL0056,999,38.732498,-11.332500,OA_CORA5.1_19900115_dat_TEMP.nc,16.625000,NaN,NaN,1989-12-12 12:45:00.000000000
8,OCL0056,999,39.165001,-11.191999,OA_CORA5.1_19900115_dat_TEMP.nc,16.530001,NaN,NaN,1989-12-12 18:39:22.500000000
9,OCL0056,999,39.167999,-10.693333,OA_CORA5.1_19900115_dat_TEMP.nc,16.876667,NaN,NaN,1989-12-12 22:46:52.500000000
10,OCL0056,999,39.163502,-10.282001,OA_CORA5.1_19900115_dat_TEMP.nc,17.222500,NaN,NaN,1989-12-13 03:28:07.500000000
11,OCL0056,999,39.166500,-9.849250,OA_CORA5.1_19900115_dat_TEMP.nc,17.404999,NaN,NaN,1989-12-13 08:06:33.750000000
12,OCL0056,999,39.166332,-9.503001,OA_CORA5.1_19900115_dat_TEMP.nc,16.946667,NaN,NaN,1989-12-13 11:07:58.125043200
13,OCL0056,999,39.717751,-9.242500,OA_CORA5.1_19900115_dat_TEMP.nc,16.912500,NaN,NaN,1989-12-13 18:26:43.125043200
14,OCL0056,999,39.726997,-9.538500,OA_CORA5.1_19900115_dat_TEMP.nc,17.135000,NaN,NaN,1989-12-13 22:07:30.000000000
15,OCL0306,999,-53.720589,-38.425293,OA_CORA5.1_19900115_dat_TEMP.nc,3.380235,NaN,NaN,1990-01-12 08:07:58.125043200
16,OCL0306,999,-54.448006,-38.062004,OA_CORA5.1_19900115_dat_TEMP.nc,3.471000,NaN,NaN,1990-01-11 20:19:13.125043200
17,OCL0257,999,-52.000000,-40.000000,OA_CORA5.1_19900115_dat_TEMP.nc,4.460500,NaN,NaN,1990-01-15 13:23:59.999971200
18,OCL0306,999,-55.000000,-38.487503,OA_CORA5.1_19900115_dat_TEMP.nc,4.158000,NaN,NaN,1990-01-16 22:41:15.000000000
19,OCL0306,999,-53.105000,-39.240002,OA_CORA5.1_19900115_dat_TEMP.nc,4.397000,NaN,NaN,1990-01-18 15:33:45.000000000
20,OCL0306,999,-53.076664,-39.874996,OA_CORA5.1_19900115_dat_TEMP.nc,4.420600,NaN,NaN,1990-01-20 08:22:01.874956800
21,OCL0305,999,65.126495,2.496500,OA_CORA5.1_19900115_dat_TEMP.nc,6.725000,-0.601314,NaN,1990-01-20 14:36:05.625043200
22,OCL0305,999,69.116653,2.500650,OA_CORA5.1_19900115_dat_TEMP.nc,4.850000,NaN,NaN,1990-01-21 23:38:54.374956800
23,OCL0305,999,65.002998,-2.490000,OA_CORA5.1_19900115_dat_TEMP.nc,4.200000,NaN,NaN,1990-01-25 04:05:58.999977600
24,OCL0305,999,65.130501,-9.996500,OA_CORA5.1_19900115_dat_TEMP.nc,4.125000,NaN,NaN,1990-01-26 02:10:46.874956800
25,OCL0305,999,66.040649,-10.000999,OA_CORA5.1_19900115_dat_TEMP.nc,1.450000,NaN,NaN,1990-01-26 09:53:26.250000000
26,OCL0305,999,66.999176,-9.692250,OA_CORA5.1_19900115_dat_TEMP.nc,0.650000,-0.575472,NaN,1990-01-27 15:25:18.750000000
27,OCL0305,999,67.000999,-4.566100,OA_CORA5.1_19900115_dat_TEMP.nc,3.733333,NaN,NaN,1990-01-28 11:02:20.625043200
28,OCL0305,999,66.000000,-1.488300,OA_CORA5.1_19900115_dat_TEMP.nc,1.800000,NaN,NaN,1990-01-29 22:13:11.999971200
29,OCL0257,999,-53.567497,-38.005501,OA_CORA5.1_19900115_dat_TEMP.nc,3.636500,NaN,NaN,1990-02-04 23:44:31.874956800
...,...,...,...,...,...,...,...,...,...
9058521,5904777,846,11.643001,-118.146004,OA_CORA5.2_20180615_dat_TEMP.nc,28.852844,4.546738,NaN,2018-06-02 08:00:56.250000000
9058522,5904777,846,11.710000,-118.227997,OA_CORA5.2_20180615_dat_TEMP.nc,29.012430,4.694138,NaN,2018-06-12 10:55:18.750000000
9058523,5904777,846,11.815999,-118.290001,OA_CORA5.2_20180615_dat_TEMP.nc,29.116978,4.713399,NaN,2018-06-22 13:38:26.250000000
9058524,5904777,846,11.909000,-118.383003,OA_CORA5.2_20180615_dat_TEMP.nc,28.062902,4.795071,NaN,2018-07-02 16:10:18.750000000
9058525,5904777,846,11.972000,-118.584999,OA_CORA5.2_20180615_dat_TEMP.nc,28.008762,4.725540,NaN,2018-07-12 17:17:48.750000000
9058526,5904777,846,11.905000,-118.957001,OA_CORA5.2_20180615_dat_TEMP.nc,28.427530,4.780207,NaN,2018-07-22 21:19:41.250000000
9058527,6901885,865,35.573196,17.007420,OA_CORA5.2_20180615_dat_TEMP.nc,19.494499,13.834250,NaN,2018-05-13 21:05:37.500000000
9058528,6901885,865,35.656502,17.885811,OA_CORA5.2_20180615_dat_TEMP.nc,22.688999,NaN,NaN,2018-05-31 09:05:10.000003200
9058529,6901885,865,36.364719,18.169210,OA_CORA5.2_20180615_dat_TEMP.nc,24.464001,13.887000,NaN,2018-06-05 09:09:22.000032000
9058530,6902869,841,56.971497,-27.837633,OA_CORA5.2_20180615_dat_TEMP.nc,9.081500,3.913651,NaN,2018-07-01 15:56:15.000000000
9058531,5905379,846,-65.882004,155.957993,OA_CORA5.2_20180615_dat_TEMP.nc,-1.785000,0.889017,NaN,2018-05-05 21:15:12.000038400
9058532,6901885,865,35.961128,18.646799,OA_CORA5.2_20180615_dat_TEMP.nc,23.591999,NaN,NaN,2018-06-10 09:09:40.000003200
9058533,6901885,865,35.522579,17.370729,OA_CORA5.2_20180615_dat_TEMP.nc,19.855000,NaN,NaN,2018-05-21 09:04:12.000028800
9058534,6901885,865,35.488781,17.703270,OA_CORA5.2_20180615_dat_TEMP.nc,21.087000,13.841001,NaN,2018-05-26 09:10:34.000003200
9058535,6901885,865,35.900429,17.522760,OA_CORA5.2_20180615_dat_TEMP.nc,23.829000,13.807000,NaN,2018-06-20 09:10:59.000016000
9058536,6901885,865,36.156521,17.821301,OA_CORA5.2_20180615_dat_TEMP.nc,24.337999,NaN,NaN,2018-06-25 09:04:04.999987200
9058537,6901885,865,35.397640,18.180910,OA_CORA5.2_20180615_dat_TEMP.nc,23.525999,NaN,NaN,2018-06-30 09:03:36.000000000
9058538,6901885,865,36.010139,17.783760,OA_CORA5.2_20180615_dat_TEMP.nc,25.424999,13.870001,NaN,2018-07-05 09:10:05.000016000
9058539,6901885,865,36.170536,17.685040,OA_CORA5.2_20180615_dat_TEMP.nc,26.408501,13.837500,NaN,2018-07-12 21:08:26.250000000
9058540,6901885,865,36.166759,17.436676,OA_CORA5.2_20180615_dat_TEMP.nc,26.734501,13.824875,NaN,2018-07-22 21:11:15.000000000
9058541,5904096,846,-62.300999,-166.707993,OA_CORA5.2_20180615_dat_TEMP.nc,-0.959000,1.793586,NaN,2018-07-16 03:31:53.000025600
9058542,6901765,836,36.032421,22.132000,OA_CORA5.2_20180615_dat_TEMP.nc,21.838001,NaN,NaN,2018-05-28 09:47:48.750000000
9058543,41038,830,34.140999,-77.714996,OA_CORA5.2_20180615_dat_TEMP.nc,20.727499,NaN,NaN,2018-05-09 09:53:26.250000000
9058544,41038,830,34.140999,-77.714996,OA_CORA5.2_20180615_dat_TEMP.nc,22.466413,NaN,NaN,2018-05-22 13:38:26.250000000
9058545,41038,830,34.140999,-77.714996,OA_CORA5.2_20180615_dat_TEMP.nc,24.143120,NaN,NaN,2018-05-30 17:48:45.000000000
9058546,41038,830,34.140999,-77.714996,OA_CORA5.2_20180615_dat_TEMP.nc,26.146837,NaN,NaN,2018-06-09 17:48:45.000000000
9058547,41038,830,34.140999,-77.714996,OA_CORA5.2_20180615_dat_TEMP.nc,26.632210,NaN,NaN,2018-06-19 17:48:45.000000000
9058548,41038,830,34.140999,-77.714996,OA_CORA5.2_20180615_dat_TEMP.nc,27.867363,NaN,NaN,2018-06-29 17:48:45.000000000
9058549,41038,830,34.140999,-77.714996,OA_CORA5.2_20180615_dat_TEMP.nc,28.461229,NaN,NaN,2018-07-09 18:59:03.750000000
9058550,41038,830,34.140999,-77.714996,OA_CORA5.2_20180615_dat_TEMP.nc,28.133217,NaN,NaN,2018-07-19 17:48:45.000000000